@charset "utf-8";

html,*{ 
    margin: 0; 
    padding: 0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body {
    margin: 18px 0 0 0;
    padding: 0;
    background: #fff url(../images/img01.gif) repeat-x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #333333;
}

table {
    border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

ol,ul {
    list-style:none;
}

caption,th {
    text-align:left;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

q:before,q:after {
    content:'';
}

abbr, acronym { 
    cursor:help; border-bottom: 1px dotted #808080;
}

a, a:link, a:visited{
    color: #369bbd;
}

a:hover, a:active {
	text-decoration: none;
	color: #003448;
    outline:none; 
}
:focus {
    -moz-outline-style:none;
} 

table,tr,td{ 
    border: none; 
    text-align: left;
}

strong{
    font-weight: bold;
}

/* BASE CLASSES */

.clear { 
  clear : both;
}


.pos{ 
  color :#3c7939;
}
.warn{ 
  color :#ff8400;
}
.neg{ 
  color: #c40900;
}

/* STRUCTURE */

#wrapper {
	margin: 0 auto;
	padding: 0;

}

#header {
	width: 98%;
	height: 60px;
	margin: 0 auto 0 auto;
	background: url(../images/img03.gif) scroll repeat-x left bottom;
}

/* MENU TOP */


#nav{
	height: 40px;
	margin: 2px 0 0 0;
	padding: 4px 10px 0 10px;
}

#nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
}

#nav a{
display:block;
padding:0px 5px;
color:#333;
font-weight: bold;
text-decoration: none;
}

#nav li.topLevel{
  height: 20px;
  padding: 10px 10px 2px 10px;
  margin: 0 0 0 0;
  width: 100px;
}

#nav li.current-page-item{
  height: 20px;
  padding: 10px 10px 2px 10px;
  margin: 0 0 0 0;
  width: 100px;
  color: #fff;
  background-color: #7a7a7a;
  border: 1px solid #4c4c4c;
  border-width: 0; 
}

#nav li.current-page-item a{
  color: #fff;
}

#nav a:hover{
  color: #fff;
}

#nav li.topLevel:hover{
  padding: 10px 10px 2px 10px;
  margin: 0 0 0 0;
  width: 100px;
  color: #fff;
  background-color: #7a7a7a;
  border: 0px solid #4c4c4c;
  border-width: 0; 
}

#nav li{
float:left;
position:relative;
}

#nav ul {
position:absolute;
display:none;
width:12em;
top:1.5em;
}

#nav li ul a{
  width:220px;
  height:auto;
  float:left;
  font-size: 11px;
  color: #efefef;
}

#nav ul ul{
top:auto;
}	

#nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}

#nav ul.secondLevel{
  padding: 10px 10px 2px 10px;
  margin: 17px 0 0 -10px;
  width: 240px;
  color: #333;
  background-color: #7a7a7a;
  /*filter : alpha(opacity=95);
  -moz-opacity : 0.95;
  opacity : 0.95; */
  z-index: 1000;
  position: absolute;
}

#nav ul.secondLevel li{
  clear: both;
}

#nav ul.secondLevel li.title{
  background-color: transparent;
  font-weight: bold;
  font-size: 11px;
  color: #efefef;
  padding: 2px;
  width: 236px;
  text-shadow: #333 1px 1px 1px;
  margin: 4px 0 0 0;
}

#nav li.topLevel:hover a{
  color: #efefef;
}

#nav ul.secondLevel a.secondLevelLink{
  color: #efefef;
  font: normal 11px "Trebuchet MS", arial, sans-serif;
}

#nav ul.secondLevel a.secondLevelLink:hover{
  color: #efefef;
  text-decoration: underline;
}

#nav ul.secondLevel a.secondLevelLink2{
  color: #efefef;
  font: normal 11px "Trebuchet MS", arial, sans-serif;
}

#nav ul.secondLevel a.secondLevelLink2:hover{
  color: #efefef;
  text-decoration: underline;
}

/* PAGE */


#page {
	margin: 0 auto;
    padding: 0 30px;
    background-color: #fff;
}

#content {
	float: left;
	padding: 0;
	margin: 0;
	max-width: 860px;
    min-height: 300px;
}



/* CONTENT DEFINTIONS */

#page #content a{
  color: #5d9d02;
}

#page #content h3{
  font: 19px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  color: #5d9d02;
  margin: 0 0 5px 0;
}

#page #content h4{
  font: 16px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  color: #000;
  margin: 14px 0 18px 0;
}

#page #content p{
    margin: 8px 0;
    padding: 0;
	line-height: 15px;
	font-size: 11px;
}

#page #content p.error { 
  font: italic 11px Verdana, Geneva, Tahoma, sans-serif; 
  color :#770107; 
  background-color : #feedf3; 
  border : 1px solid #cc6d6d; 
  padding : 10px;  
  margin: 15px 0 14px 0; 
  -moz-border-radius: 5px; 
  -khtml-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  width: 860px;
}

#page #content p.error a{ 
  font: bold 11px Verdana, Geneva, Tahoma, sans-serif; 
  color :#770107; 
}

#page #content p.success { 
  font: italic 11px Verdana, Geneva, Tahoma, sans-serif;  
  color :#3c7939; 
  background-color : #fcfebb;
  border : 1px solid #c3c750;   
  padding : 10px;  
  margin: 15px 0 14px 0; 
  -moz-border-radius: 5px; 
  -khtml-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  width: 860px;
}

#page #content p.warning { 
  font: italic 11px Verdana, Geneva, Tahoma, sans-serif;   
  color :#ff8400; 
  background-color : #f4ede2; 
  border : 1px solid #e37602;  
  padding : 10px;  
  margin: 15px 0 14px 0; 
  -moz-border-radius: 5px; 
  -khtml-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  width: 860px;
}

/* FOOTER */

#footer {
	height: 200px;
	min-height: 200px;
	padding: 90px 0 0 0;
	background: #003448 url(../images/img09.gif) repeat-x;
}


/*FORMS*/

form label{
	display:inline-block;
	width: 200px;
}

form ul.errors {
	color: red;
}

form .button{
	margin-left: 200px;
}

#menuConnec
{
	padding: 0 0 0 10px;
	float: right;
	border: grey 3px solid;
	width: 200px;
}

